{% extends "main/base.html" %}
{% load static%}
{% block title %}Главная страница{% endblock title %}



{% block content%}
    <section class="home d-flex flex-column">
        <div class="home-title">
            <a href="#" class="home-btn mt-4">Все товары</a>
        </div>
        <div class="home-recomendation">
            <div class="rec-title">
                <h3><span>Лидеры продаж</span></h3>
            </div>
        </div>
        <div class="home-cards">
            {% for product in products %}
                <a href="{{ product.get_absolute_url }}" class="home-card">
                    
                    <h5 class="title-card"> {{ product.name }} </h5>
                    <img src="{{ product.image.url }}" alt="" class="card-img">
                    {% if product.discount %}
                        <div class="card-discount">
                            <p class="line">{{ product.price }} ₽</p>
                            <p>{{ product.sell_price }} ₽</p>
                        </div>
                    {% else %}
                        <p class="price">{{ product.price }} ₽</p>
                        {% comment %} <btn class="+">+</btn> {% endcomment %}
                    {% endif %}
                </a>
                    
            {% endfor %}
        </div>
    </section>
    {% comment %} <img src="{% static 'img/logo.png' %}" alt="" class="logoindex"> {% endcomment %}
    {% comment %} <img src="{% static 'img/logo.png' %}" alt="" class="logoindex"> {% endcomment %}
{% endblock content %}