{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
    <div class="detail-product">
        <div class="detail-img">
            <img src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="" class="detail-image" height="400" width="400">
        </div>
        <div class="detail-description">
            <h2>{{ product.name }}</h2>
            <h3>Категория: {{ product.category }}</h3>
            <p>Описание: {{ product.description|linebreaks }}</p>
            
            {% if product.discount %}
                <div class="cart-discount">
                    <p class="line">{{ product.price }} ₽</p>
                    <p>{{ product.sell_price }} ₽</p>
                </div>
            {% else %}
                <p class="price">{{ product.price }} ₽</p>
            {% endif %}
            
            <form action="{% url "cart:cart_add" product.id %}" class="qform" method="post">
                <div class="cart-form">
                    {{ cart_product_form }}
                    {% csrf_token %}
                </div>
                <input type="submit" class="add-to-cart-btn" value="Добавить в корзину">
            </form>
        </div>
    </div>
{% endblock content %}