{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

        {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">

        {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="header sticky-top">
        
        <div class="header-container d-flex">

            <div class="header-logo">
                <a href="/"><img src="{% static 'img/logo.jpg' %}" alt="" class="ny-logo"></a>
            </div>
            <navbar class="header-nav pt-4">
               <ul class="header-list d-flex">
                <li>
                    <a href="/shop" class="nav-a m-3">Товары</a>
                </li>
                <li>
                    <a href="#" class="nav-a m-3">Скидки</a>
                </li>
               
                <li>
                    <a href="#" class="nav-a m-3">Контакты</a>
                </li>
               </ul> 
            </navbar>

            
            <div class="header-profile">
                <a href="{% url "cart:cart_detail" %}"><img src="{% static 'img/cart.png' %}" class="cart-img" alt="" width="70px"></a>
                
                <p class="cart_quantity">
                {% with cart_quantity=cart|length %}
                    {% if cart_quantity  > 0%}
                        {{ cart_quantity}}
                    {% else %}
                        0
                    {% endif %}
                {% endwith %}         
                </p>
            </div>


        </div>
    </header>
    
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    {% comment %} js for bootstrap {% endcomment %}
    <script src="{% static 'bootstrap\js\bootstrap.bundle.min.js' %}"></script>
</body>
</html>